.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  border-radius: 12px;

  @media screen and (max-width: 1300px){
    max-width: none;
  }

  h3 {
    text-align: center;
  }

  .text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }

  img {
    height: 300px;
    width: auto;
    max-width: 100%;
    border-radius: 12px 12px 0 0;
    @media screen and (max-width: 750px){
      height: auto;
    }
  }
}