.search {
  max-width: 30%;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;

  @media screen and (max-width: 700px){
    max-width: 60%;
  }
  @media screen and (max-width: 450px){
    max-width: 100%;
  }

}

.title {
  text-align: center;
}